#newCards{
   padding: 8px 18px;
    display: block;
    background-color: #111;
    color: #f10865;

}
#cardButton{
   height: 300px;
  width: 500px;
  border: 2px solid gray;
  box-shadow: 2px 2px 2px #000;

}
#cardText{
    font-size: 150%;

}