<div id="newCards" >
	 <center><h1>Create Flash Cards</h1></center>
        <center>
        	<label for="front">Front</label>
            <input type="text" id="newFront" name="front"/></br><br>
            <label for="back">Back</label>
            <input type="text" id="newBack" name="back"/></br>
            <button type="button" class="signupAsStudent btn btn-default" ng-click="addingCard();">Add</button>
        </center>
    </div>

    <center><h2>View Flash Cards</h2></center>

    <center><div id="cardButton" ><p id="cardText"></p></div></center><br>

    <p align="center">
        <input type="button" id="prevCard" class="signupAsStudent btn btn-default" value="previous" ng-click="moveC(-1);"/>
        <span id="positionIndex">0/0</span>
        <input type="button" id="nextCard" class="signupAsStudent btn btn-default" value="next" ng-click="moveC(1);"/>
    </p>

