<section class="header">
	<div ng-include="'app/partials/header.html'"></div>
</section>



<div class="main">
<section class="bigSection">

<div class="text-center">
		<div class="">
			<h1>Blackboard:</h1><br>
		</div>
		<label for="canvas"></label>
		<canvas id="canvas" width="500" height="600" drawing ></canvas>
</div>


</section>
<section class="chatSection">
 <ul id="messages"></ul>
    <span id="notifyUser"></span>
    <form id="form" class= "fm" action="" onsubmit="return submitfunction();" >
      <input type="hidden" id="user" value="" /><input id="m" autocomplete="off" onkeyup="notifyTyping();" placeholder="Type yor message here.." /><input type="submit" id="button" value="Send"/>
    </form>

    <script type="text/javascript">
    var socket = io();

    function submitfunction(){
  var from = $('#user').val();
  var message = $('#m').val();
  if(message != '') {
  socket.emit('chatMessage', from, message);
}
$('#m').val('').focus();
  return false;
}

function notifyTyping() {
  var user = $('#user').val();
  socket.emit('notifyUser', user);
}
    </script></section>
</div>

<style type="text/css">
.fm {
    background: #000;
    padding: 3px;
    position: absolute;
    width: 100%;
}
form input {
	border: 0;
	padding: 10px;
	width: 77%;
	margin-right: .5%;
}
form #button {
	color:#FFF;
	background: #008080	;
	border: none;
	padding: 10px;
	width: 22%;
}

#canvas {
	border: 8px
	solid  	#DEB887;
	background-color: rgba(0, 0, 0, 1);


}
</style>
